@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Tangerine|NunitoNoto+Sans+TC|Noto+Serif+TC&display=swap');
$main-font: 'Cormorant Garamond', serif;
$secondary-font: 'Tangerine', cursive;
$background-color: #ffdbdb;
$primary-color: #ff8484;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &.ril__image {
    width: auto;
    height: auto;
  }
  &.react-parallax-bgimage {
    width: 100% !important;
    object-fit: contain;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}
body {
  font-family: $main-font;
  font-weight: 100;
  // background: $background-color;
  color: #333;
  user-select: none;
  font-size: 24px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: $main-font;
}
input {
  height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 60%;
  &[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  &[type='number'] {
    height: auto;
    width: auto;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid #555;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
select {
  min-width: 100px;
  background: transparent;
  border-bottom: 2px solid #555;
}
option {
  background: #f7d8c6;
  text-align: center;
}
textarea {
  padding: 10px;
  border-radius: 4px;
  width: 60%;
  resize: none;
  margin-bottom: 20px;
}
button {
  padding: 10px 25px;
  height: 50px;
  width: 200px;
  background: #ff5f5f;
  border-radius: 4px;
  color: #fff;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
}
.topbar {
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  .navList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    font-size: 22px;
    text-transform: capitalize;
    margin: 0 auto;
    li {
      position: relative;
      padding: 0 20px;
    }
    a {
      &::after {
        transition: 0.3s;
        content: '';
        background: #333;
        height: 2px;
        position: absolute;
        width: 100%;
        bottom: -10px;
        left: 0;
        transform: scaleX(0);
      }
      padding: 10px;
      &:hover,
      &.active {
        &::after {
          transform: scaleX(0.7);
        }
      }
    }
  }
}
.logo,
.intro .text {
  font-family: $secondary-font;
}
.logo {
  font-size: 2.5rem;
}
.countdown {
  font-size: 3vw;
  margin-bottom: 40px;
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}
.react-parallax {
  width: 100%;
}
$parallax-height: 60vh;
section {
  min-height: 100vh;
  background: #fff;
  &.content {
    // padding: 60px 8%;
    .header {
      height: $parallax-height;
      background: $background-color;
      background-size: cover;
      display: flex;
      align-items: center;
      // padding: 0 8%;
      margin-bottom: 50px;
      // box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
      .inner {
        height: $parallax-height;
        mix-blend-mode: multiply;
      }
      @media screen and (max-width: 576px) {
        height: 30vh;
        .inner {
          height: 30vh;
        }
      }
      h1 {
        font-size: 6vw;
        position: absolute;
        top: 20%;
        left: 10%;
      }
      .title {
        text-transform: capitalize;
      }
    }
    .wrapper {
      padding: 60px 8%;
    }
  }
  &.menu {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    padding: 3em;
    display: flex;
    align-items: center;
    ul {
      font-size: 2rem;
      line-height: 2;
      text-transform: capitalize;
    }
  }
}
.intro {
  background: url(img/main.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin-bottom: 100px;
  .text {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    // text-align: center;
    width: 50%;
    h1 {
      font-size: 8vw;
      font-weight: 100;
    }
    h3 {
      font-size: 5vw;
      font-weight: 100;
      text-indent: 30px;
    }
  }
}
.cn {
  font-family: 'Noto Serif TC', serif;
  word-break: normal;
}
//our story
.ourstory {
  .text {
    text-align: center;
  }
}
// photos
.gallaryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 20px;
  @media screen and (max-width: 576px) {
    grid-gap: 10px;
  }
  .imageBox {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.vertical {
      grid-row: span 2;
    }
    &.one {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
.formWrap {
  background: $background-color;
  text-align: center;
  padding: 50px;
  .question {
    line-height: 1.7;
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }
  @media screen and (max-width: 576px) {
    padding: 25px;
    .question {
      width: 100%;
    }
  }
  h2 {
    margin-bottom: 20px;
    font-size: 3vw;
    text-transform: capitalize;
    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
  }
  &.contactForm {
  }
}
//location
.locator {
  width: 50px;
}
section.location {
  .info {
    // width: 40%;
    padding: 20px;
    line-height: 1.8;
    font-size: 1.8rem;
    .em {
      color: #ff9d35;
      font-weight: 500;
      font-size: 120%;
    }
    span {
      display: block;
    }
  }
  .map {
    width: 100%;
    height: 60vh;
    margin: 40px 0;
    position: relative;
    .info {
      position: absolute;
      top: 10px;
      left: 10px;
      background: rgba(255, 255, 255, 0.6);
      font-size: 90%;
    }
  }
  .golf {
    .image {
      width: 60%;
      height: 50vh;
      object-position: top;
    }
  }

  @media screen and(max-width:576px) {
    .map {
      width: 100%;
    }
    .info {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
  }
}
// RSVP
$timeline-border: 2px solid #555;
.timeline {
  padding: 40px 0;
  .schedules {
    max-width: 500px;
    justify-content: unset;
    margin: 0 auto;
  }
  .left {
    border-right: $timeline-border;
    margin-right: -1px;
    // padding-right: 20px;
    width: 50%;
    .icon {
      width: 100px;
      margin-right: 20px;
      padding: 10px;
      @media screen and (max-width: 576px) {
        width: 60px;
      }
    }
  }
  .contents {
    margin-left: 50px;
    position: relative;
    text-transform: capitalize;
    &:before {
      content: '';
      border-bottom: $timeline-border;
      display: block;
      width: 40px;
      position: absolute;
      left: -50px;
      bottom: calc(50% - 1px);
    }
    @media screen and (max-width: 576px) {
      margin-left: 10px;
      &:before {
        display: none;
      }
    }
  }
}
// footer
.footer {
  width: 100%;
  font-size: 18px;
  background: #e2e2e2;
  height: 80px;
  color: #333;
}
//dashboard
.dashboard {
  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    table {
      font-size: 24px;
      min-width: 50%;
      text-align: center;
      th,
      td {
        padding: 5px 10px;
      }
      th {
        background: $primary-color;
        color: #fff;
        text-transform: capitalize;
        font-weight: 300;
      }
      tr {
        background: #fff1f1;
        &:nth-child(odd) {
          background: $background-color;
        }
      }
    }
  }
}

// toggle button

$hamburger-color: #666;
$hamburger-width: 50px;
$hamburger-height: 50px;
$hamburger-zindex: 1100;

.toggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: $hamburger-height;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: fixed;
  left: 10px;
  vertical-align: middle;
  width: $hamburger-width;
  z-index: $hamburger-zindex;

  span {
    background-color: $hamburger-color;
    content: '';
    display: block;
    height: 2px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;

    &:before,
    &:after {
      background-color: $hamburger-color;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
      width: 26px;
    }

    &:before {
      top: 7px;
    }

    &:after {
      top: -7px;
    }
    /*     @media screen and(max-width:576px){
    background-color: #fff;
    &:before, &:after{
      background-color: #fff;
    }
  }
   */
  }

  &.active {
    span {
      background-color: transparent;
      transition: background 0.2s ease-out;

      &:before,
      &:after {
        transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
      }

      &:before {
        top: 0;
        transform: rotate3d(0, 0, 1, -45deg);
        // background: #fff;
      }

      &:after {
        top: 0;
        transform: rotate3d(0, 0, 1, 45deg);
        // background: #fff;
      }
    }
  }
}
